<!-- interpolation -->
<h1>Welcome to {{ hotelName }}</h1>

<!-- property binding -->
<div [hidden]="hideRooms">
Number of Rooms:
<div [ngStyle]="{ 'color': rooms.availableRooms ? 'green' : 'red'}"
[innerText]="numberOfRooms"></div>
</div>

{{rooms?.availableRooms ?? 'No rooms'}}

<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
  {{ selectedRoom | json}}
</div>

<div *ngIf="rooms.availableRooms > 0">
<app-rooms-list [rooms]="roomList"
(selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>

<!-- event binding -->
<button (click)="toggle()">Toggle</button>